
<div>
    <NavLink href="/signup" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0">
        Sign Up
    </NavLink>
    <NavLink href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0">
        Login
    </NavLink>
</div>


@code {

}
