@* ./Shared/NavMenu.razor *@

<header class="text-gray-600 body-font">
    <div class="container mx-2 flex flex-wrap p-5 flex-col md:flex-row items-center max-w-full">

        <ul class="flex items-center w-full">
            <li class="mr-6">
                <NavLink href="/">
                    <div class="flex order-first lg:order-none lg:w-1/5 title-font font-medium  text-gray-900">
                        <img src="/blazor_strapi_logo.png" alt="logo" width="100" />
                        <span class="ml-3 text-3xl">StrapiBlazorBlog</span>
                    </div>
                </NavLink>
            </li>

            <li class="mr-6">
                <NavLink class="text-blue-500 hover:text-blue-800" href="/">Home</NavLink>
            </li>
            <li class="mr-6">
                <NavLink class="text-blue-500 hover:text-blue-800" href="/new-post">New Post</NavLink>
            </li>
            <li class="mr-6">
                <NavLink class="text-blue-500 hover:text-blue-800" href="/contact">Contact Us</NavLink>
            </li>
            <li class="mr-6 float-right ml-auto">
                <LoginPartial/>
            </li>
        </ul>
    </div>
</header>